<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>

    <!-- addProduct6 -->
    <h2 th:if="${param.status}"
        th:text="'저장 완료!'"></h2>

    <div>
        <label for="id">상품 ID</label>
        <input type="text" id="id" name="id" class="form-control"
               value="1" th:value="${product.id}" readonly>
    </div>
    <div>
        <label for="name">상품명</label>
        <input type="text" id="name" name="name" class="form-control"
               value="상품A" th:value="${product.name}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               value="10000" th:value="${product.price}" readonly>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control"
               value="10" th:value="${product.quantity}" readonly>
    </div>

    <hr class="my-4">
    <div>판매 여부</div>
    <div>
        <div class="form-check">
            <label for="open" class="form-check-label">판매 오픈</label>
            <input id="open" type="checkbox" th:field="${product.open}"
                   class="form-check-input" disabled>
        </div>
    </div>
    <!-- 멀티 체크박스 - 등록 지역 -->
    <div>
        <div>등록 지역</div>
        <div th:each="region : ${regions}" class="form-check form-check-inline">
            <input type="checkbox" th:field="${product.regions}" th:value="${region.key}"
                   class="form-check-input" disabled>
            <!-- id 뒤에 숫자를 붙인다 -->
            <label th:for="${#ids.prev('regions')}"
                   th:text="${region.value}" class="form-check-label">서울</label>
        </div>
    </div>

    <!-- 라디오 버튼 -->
    <div>
        <div>상품 종류</div>
        <div th:each="type : ${productTypes}" class="form-check form-check-inline">
            <input type="radio" th:field="${product.productType}" th:value="${type.name()}"
                   class="form-check-input" disabled>
            <label th:for="${#ids.prev('productType')}" th:text="${type.description}"
                   class="form-check-label">
                BOOK
            </label>
        </div>
    </div>

    <!-- 셀렉트 박스 -->
    <div>
        <div>배송 방식</div>
        <select th:field="${product.deliveryCode}" class="form-select" disabled>
            <option value="">==배송 방식 선택==</option>
            <option th:each="deliveryCode : ${deliveryCodes}"
                    th:value="${deliveryCode.code}"
                    th:text="${deliveryCode.displayName}">배송 코드</option>
        </select>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/form/products/{productId}/edit(productId=${product.id})}'|"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='products.html'"
                    th:onclick="|location.href='@{/form/products}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>